.containerPaginate{
    display: flex;
    height: 100%;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 3%;
    justify-content: center;

}
.inputC {
    width: 60px;
    
}
.prevB{
    background-color:black;
    color: antiquewhite;
    border: none;
}
.nextB{
    background-color: black;
    color: antiquewhite;
    border: none;
    margin-left: 10px;
}