.input {
    color: #ffffff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    width: 200px;
    height: 25px;
   }
   
   .input:active {
    box-shadow: 2px 2px 15px #8707ff inset;
   }