.navbar {
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	height: 8vh;
	width: 100vw;
	top: 0;
	left: 0;
}
.title {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: antiquewhite;
	font-size: 50px;
	margin-right: 100px;
	margin-top: 7px;
	align-items: center;
	
}

.list {
	list-style-type: none;
	margin-right: 15px;
}

.list-item a {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-transform: uppercase;
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	margin-right: 30px;
}

.list-item a:hover {
	color: rgb(187, 185, 185);
	border-bottom: 2px solid rgb(187, 185, 185);
}